/* Étend la toolbar pour pousser le bouton à droite */
.spacer {
  flex: 1 1 auto;
}

/* Style général de la page */
:host {
  display: block;
  padding: 20px;
}

/* Style du mat-toolbar */
mat-toolbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Style du bouton déconnexion */
button[mat-button] {
  color: white;
  font-weight: bold;
}

/* Group tabs */
mat-tab-group {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contenu des tabs */
mat-tab-group ::ng-deep .mat-mdc-tab-body-content {
  padding: 15px;
  font-size: 16px;
}
